<% coments.each do |f| %>
    <div class="d-flex flex-column flex-row bg-light p-1 my-1 ms-3 border-top">
        <div class="d-flex w-100 p-2"> 
            <%= link_to profile_pic(f.user.avatar, 'rounded p-0 user_avatar avatar-coments rounded-circle'), user_path(f.user.id) %>
            <div class="d-flex flex-column w-100 m-0 p-0">
                <div class="d-flex m-0 p-0">
                    <%= link_to f.user.name, user_path(f.user.id), class:"text-dark m-0 px-2 text-decoration-none" %>
                    <%= link_to "· @#{f.user.username} ·", user_path(f.user.id), class:"text-muted fs-6 p-0 m-0 text-decoration-none" %>
                    <p class="text-muted fs-6 p-0 m-0">  <%= elapsed_time(f.created_at) %></p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="text-dark m-0 ms-2"> <%= f.body %></p>
                </div>
            </div>
        </div>
        
    </div>
<%end%>