    <div class="container bg-grey p-0 w-whotof">
        <p class="fs-4 text-muted border-bottom border-white m-0 text-center py-3">WHO TO FOLLOW</p>
        <ul class="list-group list-group-flush m-0 px-4 border-bottom border-white">
            <% newfollow.each do |follower|%>
                <li class="list-group-item bg-transparent my-2 py-2 px-0">
                    <div class="row m-0 p-0">
                        <div class="col-10 d-flex m-0 p-0">
                            <a href="/users/<%= follower.follow.id %>"><%= profile_pic(follower.follow.avatar, 'user_avatar rounded-circle followed-avatar m-0') %></a>
                            <div class="d-flex flex-column p-0 m-0">
                                <p class="text-muted m-0"><%= link_to follower.follow.name, user_path(follower.follow.id), class:'text-decoration-none text-dark m-0 p-0' %>@<%= follower.follow.username %></p>
                            </div>
                        </div>
                        <div class="col-1 m-0 d-flex"> 
                            <%= follow_link(follower.follow.id) %>
                        </div>
                    </div>
                    <p class="text-muted my-1">Followed by: <%= link_to follower.user.name, user_path(follower.user.id), class:'text-decoration-none link-info' %> </p>
                </li>
            <%end%>
        </ul>
        <div class="p-3 border-bottom border-white">
            <%= link_to "Popular accounts", users_path, class:'text-decoration-none me-2 link-info' %>
            <%= link_to  "Find friends", users_path, class:'text-decoration-none link-info' %>
        </div>
    </div>