<div class="row w-100 bg-light p-0 m-0">
    <div class="col-8 p-0 m-0"> 
        <div class="container p-5">
            <h1 class="text-center">Edit Profile</h1>
            <%= form_with model: @user do |f| %>
                <div class="mx-5">
                    <%= f.label 'Enter your username:', class: "my-2 mx-5" %>
                    <div class="input-group px-5">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <%= text_field_tag (:username), "",class: "form-control rounded-end", placeholder:'Username' %> <br>
                    </div>
                    <% @user.errors.full_messages_for(:username).each do |message| %>
                        <div class="text-muted">
                            <%= message %>
                        </div>
                    <% end %>
                </div>
                <div class="mx-5 px-5">
                    <%= f.label 'Enter your name:', class: "my-2" %>
                    <%= f.text_field :name, class: "form-control shadow", placeholder:'Your name here' %>
                    <% @user.errors.full_messages_for(:name).each do |message| %>
                        <div class="text-muted">
                                <%= message %>
                        </div>
                    <% end %>
                </div>
                <div class="mx-5 px-5">
                    <%= f.label 'Enter your password', class: "my-2" %>
                    <%= f.password_field :password, class: "form-control shadow", placeholder:'Enter your password' %>
                    <% @user.errors.full_messages_for(:password).each do |message| %>
                        <div class="text-muted">
                            <%= message %>
                        </div>
                    <% end %>
                    <%= f.label 'Enter your password again', class: "my-2" %>
                    <%= f.password_field :password_confirmation, class: "form-control shadow", placeholder:'Re-enter password' %>
                </div>
                <div class="mx-5 px-5 my-3">
                    <div class="rounder border shadow">
                        <%= f.label "Profile picture" %><br>
                        <%= f.file_field :avatar, class:'my-2' %>
                    </div>
                </div>
                <div class="mx-5 px-5">
                    <div class="container border rounded my-2 shadow">
                        <%= f.label "Banner" %>
                        <%= f.file_field :banner, class:'my-2' %>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-5">
                    <%= f.submit "Update", class:"btn btn-outline-dark mx-2" %> 
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-4 m-0 border p-0 position-relative">
        <%= banner?(@user.banner, "w-100 position-absolute container-fluid")%>
        <div class="p-0 border position-sticky">
        <div class="d-flex justify-content-around align-items-center py-2">
            <%= profile_pic(@user.avatar, 'user_avatar rounded-circle p-0 border') %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center border-bottom">
        <p class="m-0 fs-4 text-dark"><%= @user.name %></p>
        <p class="text-muted">@<%= @user.username %></p>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-4 d-flex flex-column justify-content-center align-items-center my-2">
                <p class="m-0"><%= @user.posts.count %></p>
                <p class="m-0 text-muted">Tweets</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center border-start border-end">
                <p class="m-0">6000</p>
                <p class="m-0 text-muted">Followging</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                <p class="m-0">6000</p>
                <p class="m-0 text-muted">Followers</p>
            </div>
        </div>
        <div class="container">
            <p class="fs-4 text-muted text-center py-3 border-bottom">Follwed by:</p>
        </div>
    </div>
    </div>
</div>                