<nav class="navbar navbar-light bg-info topbar-shadow sticky-top p-0">
  <div class="d-flex justify-content-between m-0 p-0 w-100">
    <a class="p-2 m-0" href="/"> <%= image_tag "cat.png" %></a>
    <div class="d-flex m-0 p-0">
      <a class="p-3 btn btn-outline-info border-0 rounded-0" href="#"><%= image_tag "edit.png" %></a>
      <a class="p-3 btn btn-outline-info border-0 rounded-0" href="#"><%= image_tag "email.png" %></a>
      <a class="p-3 btn btn-outline-info border-0 rounded-0" href="#"><%= image_tag "loupe.png" %></a>
      <a class="p-3 btn btn-outline-info border-0 rounded-0" href="#"><%= image_tag "settings.png" %></a>
    </div>
  </div>
</nav>